/*公共样式类*/
.fl{
    float: left;
}
.fr{
    float: right;
}

/*头部*/

.header{
    height:180px;
    background-color: #4c8f96;
    padding-left:250px;
    /*position: relative;*/
}
.logo{
    /*position: absolute;*/
    position: relative;
    width:150px;
    font-size: 40px;
    font-weight: bold;
    background-color: #222841;
    color:#fff;
    text-align: center;
    vertical-align: middle;
    padding:42px 26px 40px 26px;
    /*left:250px;*/
    top:58px;
}
.header-nav{
    margin-left: 300px;
    display: inline-block;
}
.header-nav li{
    float: left;
    margin-right:24px;
    padding:5px 10px;
    color:#fff;
    background-color: #1b2130;
    border-radius: 3px;
}

/*主题内容*/
.contaniner{
    background-color:#ededed;
    padding:0 250px;
    overflow: hidden;
}
/*内容块儿1*/
.content1{
    border:1px solid #5fb3bd;
    height:356px;
    margin-top:60px;
    background: #fff url(../img/thewoman.png) no-repeat -160px 0px;
}
.cont1-cont{
    margin:120px 0 0 390px;
    width:360px;
    font-size: 30px;
}

/*内容块儿2*/
.content2{
    margin-top:48px;
}
.cont2-cont{
    width:220px;
    display: inline-block;
    margin-right:18px;
}
.cont2-cont img{
    width:214px;
    height:168px;
    border:5px solid #5fb3bd;
    border-radius: 5px;
}
.cont2-txt{

}
.cont2-txt h2{
    line-height: 30px;
}
.cont2-txt p{
    line-height: 24px;
}

/*内容块儿3*/
.content3{
    margin-top:58px;
    padding-bottom: 40px;
}
.cont3-left{
    width: 45%;
    border:5px solid #5fb3bd;
    border-radius: 5px;
    padding:60px 20px 20px 30px;
    background-color: #fff;
    position: relative;
}
.cont3-left:before{
    content: 'Featured';
    position: absolute;
    font-size: 20px;
    background-color: #1e233b;
    left: 10px;
    top: -20px;
    padding:10px 38px;
    color:#fff;
}
.cont3-left img{
    border-radius: 5px;
}
.cont3-left h2{
    display: inline-block;
    vertical-align: top;
    margin-left: 30px;
}
.cont3-left p{
    margin-top: 30px;
    line-height: 24px;
}
.cont3-right{
    width:45%;
    color:#fff;
    position: relative;
}
.cont3-right-cont{
    background-color:#519194; 
    border:5px solid #5fb3bd;
    border-radius: 5px;
    padding:0 20px 0 30px;
    margin-bottom: 22px;
    
}
.cont3-right:before{
    content: 'Hairstyle';
    position: absolute;
    font-size: 20px;
    background-color: #1e233b;
    left: 15px;
    top: -15px;
    padding:10px 38px;
}
.cont3-txt1{
    margin-top: 78px;
    line-height: 24px;
}
.cont3-right-cont h2{
    text-align: right;
    margin-bottom:18px;
}
.cont3-right-cont1{
    background: #519194 url(../img/theman.png) no-repeat ;
    border:5px solid #5fb3bd;
    border-radius: 5px;
    padding:0 20px 0 30px;
    margin-bottom: 22px;
}
.cont3-right-cont1 p{
    margin-top: 40px;
    margin-left: 150px;
    width:50%;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 66px;
    margin:30px 0 20px 150px;
}

/*footer*/
.footer{
    padding:56px 0 50px 0;
    background-color: #4c8f96;
    text-align: center;
    position: relative;
}
.footer-nav{
    position: absolute;
    background-color: #387a82;
    width: 190px;
    height:64px;
    left: 75%;
    top:30px;
    font-size: 20px;
    line-height: 64px;
}
.footer-nav a{
    color:#0d464d;;
}
.footer-nav li{
    display: inline-block;
}
